@mixin btn($left, $top) {
  position: absolute;
  width: 60px;
  height: 60px;
  top: $top;
  left: $left;
  transition-duration: 0.5s;
}

@mixin icon($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  background-color: $white;
  top: 30px;
}

@mixin icon-before($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  background-color: $white;
  content: "";
  top: $top;
  left: 0;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  background-color: $white;
  height: $height;
  content: "";
  top: $top;
}

@mixin hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: none;
  position: absolute;
}

@mixin ease($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin white-btn($bg-color, $hover-color, $text-color) {
  color: $white;
  padding: 1em 2em;
  border-radius: 3px;
  font-size: .9rem;
  letter-spacing: 3px;
  font-weight: 600;
  border: 2px solid $white;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .4s ease-in-out;
  &:hover {
    color: $black;
    border: 2px solid $black;
  } 
}

@mixin black-btn($bg-color, $hover-color, $text-color) {
  color: $black;
  padding: 1em 2em;
  border-radius: 20px;
  background-color: $yellow;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 250ms ease-in-out;
  &:hover {
    color: $black;
    background-color: $blue;
  } 
}

@mixin yellow-btn($bg-color, $hover-color, $text-color) {
  color: $yellow;
  padding: 1em 2em;
  border-radius: 3px;
  font-size: .9rem;
  letter-spacing: 1px;
  border: 2px solid $yellow;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .4s ease-in-out;
  &:hover {
    color: $black;
    border: 2px solid $black;
  } 
}