@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
  margin: 0;
}

/* HAMBURGER */

.hamburger{
  @include btn(-20px, 15px);
  
  .icon {
    @include icon(4px, 30px);
    border-radius: 4px;
    left: 15px;
    
    &:before{
      @include icon-before(4px, 30px, -10px);
      border-radius: 4px;
    }
    
    &:after{
      @include icon-after(4px, 30px, 10px);
      border-radius: 4px;
      left: 0;
    }
  }
  
  &.open {
    .icon {
      transition-duration: 0.5s;
      background: transparent;
      
      &:before{
        transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
      }

      &:after{
        transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}

/* PUSH NAV */
.wrapper {
  position: relative; 
  left: 0;
  overflow-x: hidden;
  display: block;
}
.main-nav {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: -200px;
  height: 100%;
  width: 250px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.menu-toggle {
  float: left;
  cursor: pointer;
  border: none;
  outline: none;
  height: 50px; 
  width: 50px;
  background-color: transparent;
}

.wrapper,
 .main-nav {
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
}
.wrapper.toggled { 
  left: -210px;
}

.main-nav.toggled {
	right: 0 ;
}

/* SUB-NAV */

ul.static-menu, 
.static-menu ul { 
	list-style-type: none; 
}

.static-menu {
  width: 100%;
  max-width: 350px;
  margin: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.static-menu .link, 
.static-menu .static-link {
  cursor: pointer;
  display: block;
  padding: 15px;
  font-size: 16px;
  font-weight: 700;
  color: $black;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  &:hover {
  	color: $yellow;
  }
}

.static-menu li i {
  position: absolute;
  top: 20px;
  right: 17px;
  font-size: 12px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.static-menu li {
  font-weight: 600;
}

.static-menu li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.static-menu .sub-menu {
  display: none;
  font-size: 14px;
}

.static-menu .sub-menu a {
  display: block;
  text-decoration: none;
  padding: 12px;
  padding-left: 20px;
  color: $black;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  &:hover {
  	color: $yellow;
  }
}

.sub-menu {
	padding: 0;
}

/* CONTENT */

.logo {
	position: absolute;
	padding: 1.5rem;
	width: 200px;
}

@media only screen and(min-width: 35em){

  .logo {
    width: 250px;
    padding-top: 1rem;
  }
}

.home-txt {
  color: $white;
  text-align: center;
}

.home-header {
  color: $white;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.home-btn {
  text-align: center;
  padding: 1rem;
}

@media only screen and(min-width: 60em) {
  .home-header {
    text-align: right;
    font-size: 50px;
  }

  .home-txt {
    text-align: left;
  }

  .home-btn {
  text-align: left;
}

}

.content {
  padding: 3rem;
}

.vid-content {
  padding: 3rem 0;
}

.yellow {
  background-color: $yellow;
}

.grey {
  background-color: $grey;
}

.blue {
  background-color: $blue;
}

.black {
  background-color: $black;
}

.line {
  display: block;
  width: 45px;
  height: 4px;
  background: $black;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 1.5rem;
}

.text-wrapper {
  margin: 2%;
}

@media only screen and (min-width: 35em){
  .text-wrapper {
    margin-left: 15%;
    margin-right: 15%;

  }
}

@media only screen and (min-width: 55em){
  .text-wrapper {
    margin-left: 25%;
    margin-right: 25%;

  }
}

.btn-wrapper {
  padding: 1em;
}

.white-btn {
  @include white-btn($white, $white, $white);
}

.black-btn {
  @include black-btn($black, $black, $black);
}

.yellow-btn {
  @include yellow-btn($yellow, $yellow, $yellow)
}

.video {
  padding: 3rem 0;
  width: 90%;
  height: 35%;
  overflow: hidden;
}

@media only screen and (min-width: 35em) {
  .video {
    width: 50%;
    height: 55%;
  }
}

/* IMAGES*/

.img-flex {
  display: block;
  width: 100%;
}

.img-bg {
  width: 100%;
}

.homepage {
  background-image: url(../images/homepage2.jpg);
  background-size: cover;
  padding: 5rem 0;
}

.company {
  background-image: url(../images/bg3.jpg);
  background-size: cover;
  padding: 5rem 0;
}

.btm {
  background-image: url(../images/bg4.jpg);
  background-size: cover;
  padding: 5rem 0;
}

.cloud {
  background-image: url(../images/bg10.jpg);
  background-size: cover;
  padding: 5rem 0;
}

.api {
  background-image: url(../images/bg12.jpg);
  background-size: cover;
  padding: 5rem 0;
}


@media only screen and (min-width: 35em) {
  .homepage{
    padding: 10rem 0;
  }

    .company,
    .btm,
    .cloud,
    .api {
    padding: 12rem 0;
  }

}

/* PRODUCT */

.product-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
}

.pr-line,
.feat-line {
  display: block;
  width: 45px;
  height: 4px;
  background: $black;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 60em){
  .pr-line {
  margin-left: 0;
}
}

.product-desc {
  text-align: center;
}

@media only screen and(min-width: 60em) {
  .product-icon {
    margin-right: 0;
  }

  .product-desc {
  text-align: left;
  margin-left: 0;
  width: 85%;
  padding-top: 2em;
}

}

/* FEATURES */

.feat-subhead {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 2em;
}

.feature-unit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 6em;
  padding-top: 1em;
}

.feature-txt {
  text-align: center;
}

@media only screen and (min-width: 55em) {

  .feature-unit {
    float: left;
    padding-top: 0;
    margin-top: 1.5em;
  }

  .feature-txt {
    text-align: left;
    padding-top: 2em;
    margin-left: 6em;
  }

  .feat-subhead,
  .feat-line {
    text-align: left;
    margin-left: 17%;
  }
}

.grid-img {
  width:100%;
  height: auto;
  overflow: hidden;
  z-index: -100;
}

.spec-info {
  position: relative;
  right: 25%;
}

@media only screen and(min-width: 60em){
  .spec-wrapper{
   height: 370px;
 }

 .grid-img {
  height: 370px;
  width: auto;
}

  .spec-info {
    right: 27%;
    top: .5em;
}

}

/* FOOTER */

footer {
	padding-bottom: 5rem;
	padding-top: 3rem;
	padding-left: 2rem;
	padding-right: 2rem;
  background-color: #252526;
}

.foot-left,
.footer-txt,
.footer-txt a {
  color: $grey;
}


.foot-left {
  font-size: 13px;
  text-align: center;
}

.footer-txt {
	font-size: 13px;
	line-height: 1em;
	text-align: center;
}

.footer-txt a {
	text-decoration: none;
  @include ease(all, .4s, ease);
	&:hover {
		color: $yellow;
	}
}

.footer-symb {
	width: 2rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
  padding-top: 1rem;
}

@media only screen and (min-width: 35em) {

	footer {
	padding-bottom: 8rem;
  padding-top: 2rem;
}

	.footer-txt, {
		text-align: right;
		float: right;
    padding-right: 3%;
	}

	.footer-symb {
	display: block;
	margin-left: auto;
	margin-right: 3%;
	}

  .foot-left {
    text-align: left;
    float: left;
    padding-left: 3%;
    padding-top: 3%;
  }
}