body {
	font-family: 'DIN', Helvetica, sans-serif;
}

.hide-text {
	@include hide-text;
}

.center {
	text-align: center;
	overflow: hidden;
}

.upper {
	text-transform: uppercase;
}

.pg-header {
	color: $white;
	text-align: center;
	letter-spacing: 3px;
	font-size: 40px;
	font-weight: 500;
	text-transform: uppercase;
}

.subhead {
	font-size: 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.text-wrapper p {
	line-height: 1.5rem;
}

h3 {
	margin: 0;
}