body {
	font-family: 'DIN', Helvetica, sans-serif;
}

.hide-text {
	@include hide-text;
}

.center {
	text-align: center;
}

.upper {
	text-transform: uppercase;
}

.pg-header {
	color: $white;
	text-align: center;
	letter-spacing: 3px;
	font-size: 30px;
}

.subhead {
	font-size: 22px;
	letter-spacing: 2px;
}

p {
	line-height: 1.5rem;
}